<phpunit bootstrap="../RecordTest/TestBootstrap.php">
<testsuites>
    <testsuite name="P4 Library Test Suite">
        <directory>../P4Test</directory>
    </testsuite>
    <testsuite name="Module Library Test Suite">
        <directory>../RecordTest</directory>
    </testsuite>
</testsuites>
<filter>
    <blacklist>
        <directory>.</directory>
        <directory>../P4Test</directory>
        <directory>../RecordTest</directory>
        <directory>../../../library/Zend</directory>
    </blacklist>
</filter>
</phpunit>
